*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

    /* !!!!!!!!!!!!!!!!!!!!!!!!!!!HEADER!!!!!!!!!!!!!!!!!!!!!!!!!! */
header{
    display: flex;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    /* background: black; */
    justify-content: space-between;
    height: 50px;
    align-items: center;
    color:white;
    z-index: 9999;
}
.top-bar__logo{
    font-size: 20px;
    border:2px solid white;
    margin:5px;
    border-radius: 20%;
}
.k{
    display:inline-block;
    padding:3px;
}

.b{
    display:inline-block;
    padding:3px;
}

.top-bar__logo:hover{
    color:black;
    border:2px solid black;
    background:white;

}
    /* !!!!!!!!!!!!!!!!!!!!!!!!!!!NAVIGATION!!!!!!!!!!!!!!!!!!!!!!!!!! */
nav{
    position: fixed;
    /* top: -300px; */
    background-color: rgba(0, 0, 0, 0.85);
    top: 0;
    left: 0;
    transition: 0.5s
}
nav.off{
    top:-150px;
   }

nav ul{
    display:flex;
    flex-direction: column;
    list-style: none;
    width:100vw;
    text-align: center;
}
nav li{
    flex-basis: 100%;
}
nav li a{
    display: block;
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    font-weight: bold;
    padding:10px;
}

nav i {
    position: fixed;
    font-size: 30px;
    right: 4vw;
    top: 2vh;
    color: white;
    z-index: 1;
}

i.off {
    display: none;
}
@media (min-width:750px){
    .fas{
        font-size:40px;
    }
    .top-bar__logo{
        font-size:30px;
    }
}

    /* !!!!!!!!!!!!!!!!!!!!!!!!!!! FIRST VIEW SECTION !!!!!!!!!!!!!!!!!!!!!!!!!! */
.firstView{
    position: relative;
    height: 100vh;
    width:100%;
    background-image: url(../img/firstview-bgc.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hello{
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    width:70%;
    min-width:280px;
    max-width:370px;
    background-color:black;
    top:20%;
    left:50%;
    transform: translate(-50%, -50%);
    color:white;
  line-height: 50px;
  padding:5px;
  text-align: center;
}

.hello .text{
    letter-spacing: 1px;
    text-transform: uppercase;   
}

.cursor {
    opacity: 0;
    transition: .2s;
   }
 .cursor.active {
    opacity: 1;
   }

.introduce{
    color:khaki;
    position: absolute;
    width: 94%;
    top: 36%;
    left:7%;
}
.introduce h1{
    font-size: 36px;
}
.introduce h1:nth-of-type(2){
    border-bottom: 2px solid white;
    padding-bottom:10px;
}
.introduce h3{
    width:200px;
    float:left;
}

.firstView button{
    bottom:10%;
    right: 5%;
    font-size: 15px;
    padding:10px 15px;
    margin-top:8vw;
    margin-left:10vw;
    letter-spacing: 0.1cm;
    background: none;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid aquamarine;
    color:aquamarine;
    cursor:pointer;
}
.firstView button:hover{
    background:aquamarine;
    color:black;
}

@media (min-width:400px){
    .introduce h1{
        font-size: 42px;
    }
    .introduce h3{
        font-size: 20px;
    }
}
@media (min-width:720px){
    .hello{
        font-size: 32px;
    }
    .introduce{
        left:10%;
    }
    .introduce h1{
        font-size: 55px;
    }
    .introduce h3{
        font-size: 20px;
    }
    .firstView button{
        font-size: 20px;
       
}
@media (min-width:1000px){
    .introduce{
        left:12%;
    }
    .introduce h1{
        font-size: 65px;
    }
    .introduce h3{
        font-size: 25px;
    }   
}

}
    /* !!!!!!!!!!!!!!!!!!!!!!!!!!! PROJECTS SECTION !!!!!!!!!!!!!!!!!!!!!!!!!! */
.portfolio{
    background:rgba(192, 192, 192, 0.76)
}
.projects{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.portfolio h1{
    font-size: 40px;
    width:70%;
    text-align: center;
    padding-top:50px;
    margin-bottom:50px;
    padding-bottom:10px;
    margin-left: auto;
    margin-right:auto;
    border-bottom: 2px solid black;
}
.project{
    display:flex;
    flex-direction: column;
    position: relative;
    width: 290px;
    height: 250px;
    background-size: contain;
    margin-bottom: 50px;
    background-repeat: no-repeat;
    border-radius: 15px;
    box-shadow: 0 0 10px #3e3e3e;
    overflow: hidden;
    text-align: center;
    flex-grow: 1;
    
}

.project::before{
    content:'';
    position: absolute;
    z-index: 1;
    left:0;
    top:0;
    width:100%;
    height:100%;
    border-radius: 15px;
    transition: ease-in .5s
}
.project:hover::before{
    background-color: #000;
    opacity: .2;
}
.project h2{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding:10px;
}
.project p{
    margin: auto;
    padding:10px;
    transition: .2s;
    opacity: 1;
}

.project .btns{
    display:flex;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
}
.btns a{
    flex-basis: 50%;
    font-size:25px;
    text-align: center;
    text-decoration: none;
    padding:8px;
    /* border-top:1px solid black; */
    z-index:2;
    color:black;
    -webkit-box-shadow: 0.1px 0px 2px rgba(50, 50, 50, 0.75);
    /* -moz-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75); */
    /* box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75); */
}
.btns a:hover{
    background-color: rgba(243, 11, 11, 0.555);
}
.btns a i{
    font-size:30px;
}

/* .project::after{
    content:'';
    position: absolute;
    z-index: 99;
    left:50%;
    bottom:-50px;
    display: block;
    width:100px;
    height:50px;

}
.project:hover::after{
    bottom:47%;
} */

.project:nth-of-type(1){
/* background-image: url(); */

}
.project:nth-of-type(2){
    /* background-image: url(); */
}

.project:nth-of-type(3){
        /* background-image: url(); */
}
@media (min-width:750px){
.portfolio h1{
    font-size: 60px;
    max-width:400px;
}
.project{
    width: 360px;
    height: 250px;
}
}

@media (min-width:1000px){
.projects h1{
        font-size: 70px;
        text-align: center;
    }
.projects{
   flex-direction: row;
    width:80%;
   justify-content: space-around;
   flex-wrap: wrap;
   margin:0 auto;
}

.project{
    flex-basis: 50%;
    max-width:300px;
    margin:50px;
}
}
/* .project:nth-of-type(even){
    align-self: flex-end;
    margin-right:50px;
}
.project:nth-of-type(odd){
    margin-left:50px;
} */

    /* !!!!!!!!!!!!!!!!!!!!!!!!!!! CONTACT !!!!!!!!!!!!!!!!!!!!!!!!!! */

.contact{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(221,82,117);
    padding-bottom:50px;
}

.contact h1{
    font-size: 40px;
    width:70%;
    text-align: center;
    margin:50px;
    padding-bottom:10px;
    border-bottom: 2px solid black;
}

.contact h2{
   margin-bottom:25px;
   font-size:25px;
   width: 100%;
   text-align: center

}
.personal{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.social span{
    float:left;
    font-size: 20px;
    margin: 0 auto;
    line-height: 72px;
    font-weight: bolder;
    padding:5px;
}
.social img{
    float:left;
    clear:both;
}

@media (min-width:750px){
    .contact h1{
        font-size: 60px;
        max-width:400px;
    }
    .contact h2{
        font-size: 40px;
    }
    .social span{
        float:left;
        font-size: 30px;
    }
    }
  
    @media (min-width:1000px){
        .contact h1{
            font-size: 70px;
        }
    }
