.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: palevioletred;
  padding-bottom: 20px;
  &__header {
    @include section-header();
    @include mq(medium) {
      font-size: 3rem;
      max-width: 400px;
      width: 40%;
    }
  }
  &__link {
    display: flex;
    text-decoration: none;
    align-items: center;
  }
  &__item {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    &:hover {
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
    &-github {
      font-size: 4rem;
      color: white;
    }
  }

  &__image {
    width: 70px;
    height: 70px;
  }

  &__paragraph {
    font-size: 1.2rem;
    line-height: 72px;
    font-weight: bolder;
    padding: 5px;
    color: black;
  }
}
.contact__list {
  display: flex;
  flex-direction: column;
  &-name {
    margin-bottom: 25px;
    font-size: 2rem;
    width: 100%;
    text-align: center;
  }
}
.arrowUp {
  position: fixed;
  text-align: center;
  height: 40px;
  border-radius: 20%;
  width: 40px;
  bottom: 10px;
  right: -50px;
  color: white;
  z-index: 99;
  cursor: pointer;
  transition: 0.3s;
  background-color: rgba(25, 17, 61, 1);
  &:hover {
    transform: scale(1.2);
  }
}

.arrowUp-icon {
  line-height: 40px;
  font-size: 25px;
}
